#beer{
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;

  margin: 2rem 0;

  box-shadow: 0 0 50px #843b62;
  border-radius: 20px;

  background-color: #14213d;
}

#beer img{
  border-radius: 20px;
}

#beer #name{
  font-size: 2rem;
  padding-left: 2rem;

  margin-bottom: 1rem;
  border-bottom: 2px solid #e5e5e555;
}

#beer #desc{
  font-size: 1.1rem;
  border-bottom: 2px solid #e5e5e555;
  background-color: transparent;
  color: #e5e5e5;
  font-family: inherit;
  border-radius: 5px;
  
  height: 5rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  padding-left: 1rem;
}

#beer input{
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #843b62;
  border-radius: 6px;
  box-shadow: none;
}

#beer textarea{
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #843b62;
  border-radius: 6px;
  box-shadow: none;
}

#beer #content{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#beer table{
  padding: 0;
  margin: 1rem 0.5rem;
  align-self: center;
}

#beer th{
  text-align: right;
  padding-bottom: 1rem;
}

#beer td{
  list-style-type: none;

  margin: 0;
  padding: 0;
  padding-left: 2rem;
}

#beer #buttons{
  text-align: center;
  margin: 1rem 0;
}

#beer #buttons button{
  text-align: center;

  padding: 0.3rem;
  margin: 0 0.8rem;
  border-radius: 5px;

  width: 90px;
}

#photo{
  display: flex;
  align-items: center; 
  flex-direction: column;
  width: 100%;
}

input[type="file"] {
  display: none;
}

#beer #photo_button{
  color: white;
  border: white solid 2px;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  font-size: 13px;
  width: 90%;
  text-align: center;
  padding: 0.3rem;
  margin: 10px 0;
}
